@model Mensagem

<h2>Excluir Mensagem</h2>

<p>Você tem certeza que deseja excluir esta mensagem?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />

    <button type="submit">Excluir</button>
</form>

<a asp-action="Index">Cancelar</a>
