<h2>Editar ou Excluir Mensagem</h2>

<form asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="Conteudo"></label>
        <input asp-for="Conteudo" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Salvar</button>
</form>

<a asp-action="Delete">Excluir</a>
<a asp-action="Index" class="btn btn-secondary">Voltar para a Lista</a>