<ul class="sidebar-menu" data-widget="tree">

    <!-- Optionally, you can add icons to the links -->
    <li class="active"><a href="#"><i class="fa fa-link"></i> <span>Mensagem</span></a></li>

    <li class="treeview">

        <ul class="treeview-menu">
            <li><a href="#">Mensagem</a></li>

        </ul>
    </li>
</ul>